In [11]:
names = ["vilva", "priya", "koma", "ab", "xy"]
print([x.upper() for x in names])

#if else must be before the for
li=[x if len(x) > 4 else "shorter" for x in names]
print(li)

['VILVA', 'PRIYA', 'KOMA', 'AB', 'XY']
['vilva', 'priya', 'shorter', 'shorter', 'shorter']

In [4]:
nums=[1,2,3,4,5]
li=[x**2 for x in nums[::-1]]
print(li)

[25, 16, 9, 4, 1]

In [12]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
pairs = [(x, y) for x in [1,2] for y in [10,20]]
print(pairs)

[(1, 10), (1, 20), (2, 10), (2, 20)]

In [16]:
a = [[1, 2], [3, 4], [5, 6]]
li=[(x,y) for y in a for x in y]
print(li)

[(1, [1, 2]), (2, [1, 2]), (3, [3, 4]), (4, [3, 4]), (5, [5, 6]), (6, [5, 6])]

In [19]:
s="hello world"
print([x for x in s if x in ['a','e','i','o','u']])

print([x**2 for x in range(1,30) if x%3==0])

li=[[1,2], [3,4], [5,6,7]]

print([y for x in li for y in x])

['e', 'o', 'o']
[9, 36, 81, 144, 225, 324, 441, 576, 729]
[1, 2, 3, 4, 5, 6, 7]

In [9]:
#{key: value for item in iterable}
names = ["vilva", "priya", "koma"]

d = {i: name for i, name in enumerate(names)}
print(d)

for i,k in enumerate(names):
    print(k)

{0: 'vilva', 1: 'priya', 2: 'koma'}
vilva
priya
koma

In [3]:
prices = {"apple": 50, "banana": 20, "kiwi": 100}
d={k:i*0.7 for k,i in prices.items()}
print(d)

{'apple': 35.0, 'banana': 14.0, 'kiwi': 70.0}

In [10]:
marks = {"math": 95, "eng": 45, "sci": 87}#reverse and compare
#d={value:key if value>50 else key:value for key,value in marks.items()} can't have two k:v
d = {
    (value, key) if value > 50 else (key, value)
    for key, value in marks.items()
}
print(d)

{(87, 'sci'), (95, 'math'), ('eng', 45)}

In [11]:
d = {"a": 1, "b": 2, "c": 3}
swapped = {v: k for k, v in d.items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

In [15]:
table = {
    i: {j: i*j for j in range(1,6)}
    for i in range(1,4)
}

print(table)

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}, 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}}