In [ ]:
import sqlite3

con=sqlite3.connect("Databases/Employees.db")

cur=con.cursor()

cur.execute("Create table if not exists Employees (empid integer,name varchar(30),salary real)")
con.commit()#after every operation

cur.execute('''
            insert into Employees(empid,name,salary) values (1,"Rama",20000)
            ''')
con.commit()
#parameters to avoid sql injection risk
cur.execute(
    "INSERT INTO Employees(empid,name,salary) VALUES (?, ?, ?)",
    (2, "Vilva", 500000)
)
con.commit()

con.close()#must

In [ ]:
import sqlite3
#to avoid lock issues and commit and close automatically
with sqlite3.connect("Databases/Employees.db") as con:
    cur = con.cursor()
    cur.execute('''pragma table_info(Employees)''')
    cur.execute('''SELECT sql FROM sqlite_master WHERE type='table' AND name='table_name';''')
    print(cur.fetchall())
    cur.execute("CREATE TABLE IF NOT EXISTS Employees (empid INTEGER, name TEXT, salary REAL)")
    cur.execute("INSERT INTO Employees VALUES (1,'Rama',20000)")
    cur.execute("INSERT INTO Employees VALUES (2,'Vilva',500000)")

In [ ]:
import sqlite3

with sqlite3.connect("Databases/Employees.db") as con:
    cur = con.cursor()

    cur.execute('''select * from Employees where empid=2''')
    print(cur.fetchone())

    cur.execute('''delete from Employees where empid=2 ''')

    cur.execute('''select * from Employees''')
    rows=cur.fetchall()

    many_rows=cur.fetchmany(1)
    for i in rows:
        print(i)

In [2]:
import sqlite3

def view_employees(cur):
    cur.execute("select distinct * from Employees")
    rows=cur.fetchall()

    for i in rows:
        print(i)

with sqlite3.connect("Databases/Employees.db") as con:
    cur=con.cursor()
    view_employees(cur)

(1, 'Rama', 20000.0)
(2, 'Vilva', 500000.0)